# Practice

SORU - 1

Kullanıcıdan alınan tek sayıların 2 katı, çift sayıların karesini yazdıran python kodunu yazınız.

In [25]:
sayı_1 = int(input("Lütfen bir sayı giriniz"))
if sayı_1 % 2 == 1:
    print(f"Girdiğiniz {sayı_1} tek sayı olduğundan sonuc:", sayı_1 * 2)
else:
    print(f"Girdiğiniz {sayı_1} çift sayı olduğundan sonuc:", sayı_1 ** 2)

Girdiğiniz 6 çift sayı olduğundan sonuc: 36

SORU - 2

Kullanıcıdan alınan 2 sayının eger tam sayı ise çarpımını yazdıran python kodunu yazınız..

In [7]:
veri_1 = input("Lütfen ilk veriyi giriniz")
veri_2 = input("Lütfen ikinci veriyi giriniz")

if veri_1 .replace("-", "") .isnumeric() and veri_2 .replace("-", "") .isnumeric():
    carpım = int(veri_1) * int(veri_2)
    print(f"Girilen {veri_1} ve {veri_2} tam sayı olduğu için sonuc:", carpım)

else: 
    print(f"Girilen {veri_1} veya {veri_2} tam sayı değildir")

Girilen -5 ve 6 tam sayı olduğu için sonuc: -30

In [6]:
v_1 =input("Lütfen ilk veriyi giriniz")   #  -6 ve -5 verdiğimizde çalışır
v_2 =input("Lütfen ikinci veriyi giriniz")
if(v_1).isnumeric and (v_2).isnumeric:
    print(int(v_1)*int(v_2))
else:
    print("Girilen değerlerden biri ya da ikisi sayı formatında değil.")

Girilen değerlerden biri ya da ikisi sayı formatında değil.

In [4]:
veri_1 .isnumeric

SORU - 3

Kullanıcıdan alınan 2 sayı eşitse ya da farkı 5 in katı ise True sonucunu, aksi halde False sonucunu çıkaran python kodunu yazınız

In [27]:
x = sayı_1 = int(input("Lütfen bir tam sayı giriniz"))
y = sayı_2 = int(input("Lütfen bir tam sayı giriniz"))
if x == y or (x - y) % 5 == 0:
    print(f"{x} ve {y} tam sayıları ile:", True, "sonucu cıkmıştır")
else :
    print(f"{x} ve {y} sayıları ile :", False, "sonucu cıkmıştır")

3 ve 5 sayıları ile : False sonucu cıkmıştır

SORU - 4

Öğrenciden alınan sınav bilgisinin harf olarak karşılığına gelen python kodunu yazınız

In [34]:
x = ders_notu = float(input("Lütfen notonuzu yazınız"))
if 80 <= x <= 100:
    print(f"Girilen {x} notunuz ile A aldınız")
elif 65 <= x < 80:
    print(f"Girilen {x} notunuz ile B aldınız")
elif 55 <= x < 65:
    print(f"Girilen {x} notunuz ile C aldınız")
elif 35 <= x < 55:
    print(f"Girilen {x} notunuz ile D aldınız")
elif 0 <= x < 35:
    print(f"Girilen {x} notunuz ile F aldınız")
else:
    print("0 ile 100 arasında bir puan girmediniz")

Girilen 50.5 notunuz ile D aldınız

SORU - 5

Kullanıcıdan alınan saniye bilgisinin saat, dakika ve saniye cinsinden çıktısını veren python kodunu yazınız..

In [39]:
saniye = int(input("Lütfen saniye bilgisini giriniz"))
print(f"Girdiğiniz {saniye} sn:")
saat = saniye // 3600
dakika = (saniye % 3600) // 60
saniye = saniye % 60
print(saat, "sa", dakika, "dk", saniye, "sndir")

Girdiğiniz 3600 sn:
1 sa 0 dk 0 sndir

## round()

In [40]:
round(24.1)

24

In [41]:
round(24.17)

24

In [42]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [43]:
round(24.6)

25

In [45]:
round(24.5)  # 4 çift olduğu için alta yuvarlıyor

24

In [46]:
round(23.5)

24

In [47]:
round(34.5)

34

In [48]:
round(39.5)

40

In [49]:
round(40.5)

40

In [50]:
round(130.666, 1)

130.7

In [51]:
round(130.666, 2)

130.67

In [52]:
round(130.666, 3)

130.666

In [53]:
round(130.666, 7)

130.666

In [56]:
round(130.666, 0)  # bu floattır

131.0

In [55]:
round(130.666)

131

In [57]:
round(130.666, -1)

130.0

In [58]:
round(130.666, -2)

100.0

In [59]:
round(180.666, -2)

200.0

In [60]:
round(180.666, -3)

0.0

In [61]:
round(730.666, -3)

1000.0

In [62]:
round(730.666, -3535)

0.0

In [64]:
round(130.6964583, 2)

130.7

## Strings

In [66]:
"techpro"[2:5]

'chp'

In [67]:
"techpro"[-3:-5]

''

In [69]:
"techpro"[-3:-5: -1]

'ph'

In [70]:
"techpro"[-5:-3]

'ch'

## f string & format string

In [76]:
name = "Ahmet"
surName = "Altın"
age = 36

greeting = "My name is " + name + " " + surName + " and \nI'm " + str(age) + " years old."
print(greeting)

My name is Ahmet Altın and
I'm 36 years old.

In [77]:
name = "Ahmet"
surName = "Altın"
age = 36

greeting = "My name is {} {} and \nI'm {} years old." .format(name, surName, age)

print(greeting)

My name is Ahmet Altın and
I'm 36 years old.

In [78]:
name = "Ahmet"
surName = "Altın"
age = 36

greeting = "My name is {1} {2} and \nI'm {0} years old." .format(age, name, surName)

print(greeting)

My name is Ahmet Altın and
I'm 36 years old.

In [79]:
name = "Ahmet"
surName = "Altın"
age = 36

greeting = "My name is {n} {s} and \nI'm {a} years old." .format(a = age, n = name, s = surName)

print(greeting)

My name is Ahmet Altın and
I'm 36 years old.

In [81]:
name = "Ahmet"
surName = "Altın"
age = 36

greeting = f"My name is {name} {surName} and \nI'm {age} years old"

print(greeting)

My name is Ahmet Altın and
I'm 36 years old

In [84]:
str1 = "{2}, {1} and {0}" .format("a", "b", "c")
str2 = "{0}{1}{0}" .format("abra", "cad")

print(str1, str2, sep= "\n")

c, b and a
abracadabra

In [87]:
greeting

"My name is Ahmet Altın and \nI'm 36 years old"

In [86]:
sonuc = greeting[5:26:2]
sonuc

'm sAmtAtnad'

In [92]:
greeting

"My name is Ahmet Altın and \nI'm 36 years old"

In [94]:
greeting[-5:-26:-5]

"s 'nt"

In [96]:
print(*greeting, sep="_")

M_y_ _n_a_m_e_ _i_s_ _A_h_m_e_t_ _A_l_t_ı_n_ _a_n_d_ _
_I_'_m_ _3_6_ _y_e_a_r_s_ _o_l_d

## ***string*** methods

In [97]:
print(greeting .upper())

MY NAME IS AHMET ALTIN AND
I'M 36 YEARS OLD

In [98]:
print(greeting .upper() .lower())

my name is ahmet altin and
i'm 36 years old

In [100]:
print("bu yazıyı farketmenizle" .upper(),
      "FARK ETMEMENİZİN," .lower(),
      "hiç birşey fark etmediğini" .capitalize(),
      "fARK eDECEKSİNİZ." .title(),
      sep = "\n")

BU YAZIYI FARKETMENIZLE
fark etmemeni̇zi̇n,
Hiç birşey fark etmediğini
Fark Edeceksi̇ni̇z.

In [104]:
print("Çekoslavakyalılaştıramadıklarımızdan mısınız ?"
      .replace("e", "a") .replace("o", "ö") .replace("ı", "_") .split("_"))

['Çaköslavakyal', 'laşt', 'ramad', 'klar', 'm', 'zdan m', 's', 'n', 'z ?']

In [105]:
str1 = "tECHPRO iS tHE bEST cOURSE iN tHE wORLD!" 
print(*str1 .title())

T e c h p r o   I s   T h e   B e s t   C o u r s e   I n   T h e   W o r l d !

In [107]:
print(str1 .split("E", maxsplit=3))

['t', 'CHPRO iS tH', ' b', 'ST cOURSE iN tHE wORLD!']

In [108]:
str1 = str1 .capitalize()
str1

'Techpro is the best course in the world!'

In [117]:
print(*str1 .split("h"), sep = "\n")

Tec
pro is t
e best course in t
e world!

In [118]:
len(str1)

40

In [119]:
print(str1 .center(50, "*"))

*****Techpro is the best course in the world!*****

In [121]:
print(str1 .ljust(50, "*"))

Techpro is the best course in the world!**********

In [122]:
print(str1 .rjust(50, "*"))

**********Techpro is the best course in the world!

In [125]:
str2 = str1 .center(45, "*") .center(50, "D") .ljust(55, "!") .rjust(60, "S")
str2

'SSSSSDD***Techpro is the best course in the world!**DDD!!!!!'

In [126]:
str2 .strip("D, *, S, !")

'Techpro is the best course in the world'

In [127]:
str3 = str2 .find("the", 10, 25)
str3

21

In [128]:
str4 = str1 .rfind("the")
str4

30